 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/customer.css" />
    <title>Customer's Information</title>
  </head>
  <body>
    <h1>Customer's Information</h1>
    <% for(var i = 0; i < customer.length; i++){%>
    <form method="post" action="/create">
    <div class=username>
        <label for="username">Username : </label>
        <p> <%=customer[i].username%></p>
        <label for="tel">Telephone : </label>
        <p> <%=customer[i].tel%></p>
        <label for="email">Email : </label>
        <p> <%=customer[i].email%></p>
    </div>
    <br />
    <a href="/updatecustomer/<%= customer[i].customer_id%>">Edit</a>
    <a href="/deletecustomer/<%= customer[i].customer_id%>">Delete</a>
    </form>
    <br><br>
    <%}%>

        <center><a href="/login">Back to List</a></center>
      </body>
    </html>