<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/customer.css" />
    <title>Employee's Information</title>
  </head>
  <body>
    <br><br>
    <div class="head">
      <div class="spacer"></div> <!-- เพิ่มพื้นที่ว่าง -->
      <a href="/addemployee" class="btn">➕ Add Employee</a>
    </div>
    <h1>Employee's Information</h1>
    <% for(var i = 0; i < Employee.length; i++){%>
    <form method="post" action="/create">
    <div class=username>
        <label for="username">Username : </label>
        <p> <%=Employee[i].username%></p>
        <label for="password">Password : </label>
        <p> <%=Employee[i].password%></p>
        <label for="age">Age : </label>
        <p> <%=Employee[i].age%></p>
        <label for="position">Position : </label>
        <p> <%=Employee[i].position%></p>
        <img src="/uploaded_img/<%=Employee[i].img%>" alt="" style="width: 300px;height: 300px;object-fit: cover;">
    </div>
    <br />
    <a href="/updateemployee/<%= Employee[i].employee_id%>">Update</a>
    <a href="/deleteemployee/<%= Employee[i].employee_id%>">Delete</a>
    </form>
    <br><br>
    <%}%>
        <center><a href="/menu1">Back to Menu</a></center>
      </body>
    </html>
