<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="css/menu.css">
</head>
<body>
<header>
    <h1>Shopping Cart</h1>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/order">order</a></li>
            <li><a href="/customer">updatecustomer</a></li>
        </ul>
    </nav>
</header>
    <br>
        <div class="card-header">
            <center><h3>Drink</h3></center>
        </div>
    <br>
    <!--<div class="container">
        <% for (let i = 0; i < Item.length; i++) { %>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="uploaded_img/cof1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><h5><%= Item[i].itemname %></h5>
              <div class="flex">
                <div class="price"><%= Item[i].price %></div><br>
                    <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;"><br>
                <br>          
             </div>
             <center><button type="submit" class="custom-button">Buy</button></center>
            </div>
            <% } %>  
        </div>-->

<div class="container">
    
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="uploaded_img/cof1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <h5>
                <% if (Item && Item[0] && Item[0].itemname) { %>
                    <%= Item[0].itemname %>
                <% } %>
            </h5>
          <div class="flex">
            <div class="price">
                <% if (Item && Item[0] && Item[0].price) { %>
                    <%= Item[0].price %>
                <% } %>
            </div><br>
                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;"><br>
            <br>
         </div>
         <!--<a href="/updatemenu/<%=Item[0].item_id%>">Edit</a>-->
         <center>
            <a href="/updatemenu/<%=Item[0].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Edit</button>
            </a>
            <br>
            <a href="/deletemenu/<%=Item[0].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Delete</button>
            </a>
        </center>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="uploaded_img/cof2.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <h5>
                <% if (Item && Item[1] && Item[1].itemname) { %>
                    <%= Item[1].itemname %>
                <% } %>
            </h5>
          <div class="flex">
            <div class="price">
                <% if (Item && Item[1] && Item[1].price) { %>
                    <%= Item[1].price %>
                <% } %>
            </div><br>
                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;"><br>
            <br>
               
            </div>
            <center> 
            <a href="/updatemenu/<%=Item[1].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Edit</button>
            </a>
            <br>
            <a href="/deletemenu/<%=Item[1].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Delete</button>
            </a>
            </center>
        </div>
    </div>
<div class="card" style="width: 18rem;">
        <img class="card-img-top" src="uploaded_img/cof4.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <% if (Item && Item[2] && Item[2].itemname) { %>
                <%= Item[2].itemname %>
            <% } %>
          <div class="flex">
            <div class="price">
                <% if (Item && Item[2] && Item[2].price) { %>
                    <%= Item[2].price %>
                <% } %>
            </div><br>
                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;"><br>

            <br>
         </div>
         <center>
            <a href="/updatemenu/<%=Item[2].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Edit</button>
            </a>
            <br>
            <a href="/deletemenu/<%=Item[2].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Delete</button>
            </a>
        </center>
        </div>
    </div>
  
</div>

<br><br>

<div class="container">
  
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="uploaded_img/cof5.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
                <% if (Item && Item[3] && Item[3].itemname) { %>
                    <%= Item[3].itemname %>
                <% } %>
            </h5>
          <div class="flex">
            <div class="price">
                <% if (Item && Item[3] && Item[3].price) { %>
                    <%= Item[3].price %>
                <% } %>
            </div><br>
                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;"><br>
            <br>
        
         </div>
         <center>
            <a href="/updatemenu/<%=Item[3].item_id%>" class="custom-link">
            <button type="button" class="custom-button">Edit</button>
        </a>
        <br>
        <a href="/deletemenu/<%=Item[3].item_id%>" class="custom-link">
            <button type="button" class="custom-button">Delete</button>
        </a>
        </center>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="uploaded_img/cof3.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
                <% if (Item && Item[4] && Item[4].itemname) { %>
                    <%= Item[4].itemname %>
                <% } %>
            </h5>
          <div class="flex">
            <div class="price">
                <% if (Item && Item[4] && Item[4].price) { %>
                    <%= Item[4].price %>
                <% } %>
            </div><br>
                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;"><br>
            <br>
              
         </div>
         <center>
            <a href="/updatemenu/<%=Item[4].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Edit</button>
            </a>
            <br>
            <a href="/deletemenu/<%=Item[4].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Delete</button>
            </a>
        </center>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="uploaded_img/cof6.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <% if (Item && Item[5] && Item[5].itemname) { %>
                <%= Item[5].itemname %>
            <% } %>
        </h5>
          <div class="flex">
            <div class="price">
                <% if (Item && Item[5] && Item[5].price) { %>
                    <%= Item[5].price %>
                <% } %>
            </div><br>
                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;"><br>
            <br>
              
         </div>
         <center>
            <a href="/updatemenu/<%=Item[5].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Edit</button>
            </a>
            <br>
            <a href="/deletemenu/<%=Item[5].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Delete</button>
            </a>
        </center>
        </div>
    </div>
  
</div>
<!--dessert-->
<br><br>
    <div class="card-header">
            <center><h3>Dessert</h3></center>
        </div>
    <br>
<div class="container">
 
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="uploaded_img/f1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <% if (Item && Item[6] && Item[6].itemname) { %>
                <%= Item[6].itemname %>
            <% } %>
        </h5>
          <div class="flex">
            <div class="price">
                <% if (Item && Item[6] && Item[6].price) { %>
                    <%= Item[6].price %>
                <% } %>
            </div><br>
                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;"><br>
            <br>
         </div>
         <center>
            <a href="/updatemenu/<%=Item[6].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Edit</button>
            </a>
            <br>
            <a href="/deletemenu/<%=Item[6].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Delete</button>
            </a>
        </center>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="uploaded_img/f2.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <% if (Item && Item[7] && Item[7].itemname) { %>
                <%= Item[7].itemname %>
            <% } %>
        </h5>
          <div class="flex">
            <div class="price">
                <% if (Item && Item[7] && Item[7].price) { %>
                    <%= Item[7].price %>
                <% } %>
            </div><br>
                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;"><br>
            <br>
         </div>
         <center>
            <a href="/updatemenu/<%=Item[7].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Edit</button>
            </a>
            <br>
            <a href="/deletemenu/<%=Item[7].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Delete</button>
            </a>
        </center>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="uploaded_img/f3.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <% if (Item && Item[8] && Item[8].itemname) { %>
                <%= Item[8].itemname %>
            <% } %>
        </h5>
          <div class="flex">
            <div class="price">
                <% if (Item && Item[8] && Item[8].price) { %>
                    <%= Item[8].price %>
                <% } %>
            </div><br>
                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;"><br>
            <br>
               
         </div>
         <center>
            <a href="/updatemenu/<%=Item[8].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Edit</button>
            </a>
            <br>
            <a href="/deletemenu/<%=Item[8].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Delete</button>
            </a>
        </center>
        </div>
    </div>
    
</div>
<!-- dish -->
<br><br>
    <div class="card-header">
            <center><h3>Dish</h3></center>
        </div>
    <br>
<div class="container">
    
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="uploaded_img/f4.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <% if (Item && Item[9] && Item[9].itemname) { %>
                <%= Item[9].itemname %>
            <% } %>
        </h5>
          <div class="flex">
            <div class="price">
                <% if (Item && Item[9] && Item[9].price) { %>
                    <%= Item[9].price %>
                <% } %>
            </div><br>
                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;"><br>
            <br>
         </div>
         <center>
            <a href="/updatemenu/<%=Item[9].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Edit</button>
            </a>
            <br>
            <a href="/deletemenu/<%=Item[9].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Delete</button>
            </a>
        </center>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="uploaded_img/f5.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <% if (Item && Item[10] && Item[10].itemname) { %>
                <%= Item[10].itemname %>
            <% } %>
        </h5>
          <div class="flex">
            <div class="price">
                <% if (Item && Item[10] && Item[10].price) { %>
                    <%= Item[10].price %>
                <% } %>
            </div><br>
                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;"><br>
            <br>
         </div>
         <center>
            <a href="/updatemenu/<%=Item[10].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Edit</button>
            </a>
            <br>
            <a href="/deletemenu/<%=Item[10].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Delete</button>
            </a>
        </center>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="uploaded_img/f6.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            <% if (Item && Item[11] && Item[11].itemname) { %>
                <%= Item[11].itemname %>
            <% } %>
        </h5>
          <div class="flex">
            <div class="price">
                <% if (Item && Item[11] && Item[11].price) { %>
                    <%= Item[11].price %>
                <% } %>
            </div><br>
                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;"><br>
            <br>
               
         </div>
         <center>
            <a href="/updatemenu/<%=Item[11].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Edit</button>
            </a>
            <br>
            <a href="/deletemenu/<%=Item[11].item_id%>" class="custom-link">
                <button type="button" class="custom-button">Delete</button>
            </a>
        </center>
        </div>
    </div>
</div>
<br><br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
