<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/order.css"/>
    <title>Make Order</title>
</head>
<body>
    <br><br><br><br>
    <h1> Order Details </h1>
    <% for(var i = 0; i < order.length; i++){%>
    <form method="post" action="/create">
        <div class=order>
            <label>Order ID : </label>
            <p> <%=order[i].order_id%></p>
            <label>Order Date : </label>
            <p> <%=order[i].date%></p>
            <label>Item ID : </label>
            <p> <%=order[i].item_id%></p>
            <label>Employee ID : </label>
            <p> <%=order[i].employee_id%></p>
            <label>Customer ID : </label>
            <p> <%=order[i].customer_id%></p>
            <label>Tax ID : </label>
            <p> <%=order[i].tax_id%></p>
        </div>
      <input type="submit" value="create" />
    </form>
    <%}%>
    <center><a href="/menu">Back to Menu</a></center>
</body>
</html>