<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/order1.css"/>
    <title>Order Details</title>
    <style>
        .Order {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 60%;
        }
        .Order p {
            margin: 0;
        }
        .buttons {
            display: flex;
            gap: 10px;
        }
        .textD p {
            display: inline-block;
            margin: 5px 10px;
        }
    </style>
</head>
<body>
    <h1>Order Details</h1>
    <center>
        <% for(let i = 0; i < Order[0].length; i++) { %>
            <div class="Order" >
                <div class="textD">
                    <p></p>
                    <p class="item-id">Customer ID: <%= Order[0][i].customer_id %></p>
                    <p class="item-id">Customer Name: <%= Customer[i].username %></p>
                    <p class="item-id">Item ID: <%= Order[0][i].item_id %></p>
                    <p class="item-name">Item Name: <%= Item[i].itemname %></p>
                    <p class="quantity">Quantity: <%= Order[0][i].qty %></p>
                    <p class="total">Total: <span class="total-amount"><%= Item[i].price * Order[0][i].qty%></span></p>
                </div>
                <div class="buttons">
                    <a href="/deleteorder/<%= Order[0][i].order_id %>" class="btn btn-warning mx-2">Accept</a>
                </div>
            </div>
        <% } %>
    </center>
    <center><a href="/menu1">Back to Menu</a></center>

</body>
</html>
