<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/order.css"/>
    <title>Make Order</title>
</head>
<body>
    <br><br><br><br>
    <h1> Order Details </h1>
    <form method="post" action="/create">
        <div class=order>
            <label>Order ID : </label>
            <p> <%=order[0].order_id%></p>
            <label>Order Date:</label>
            <p><%= new Date(Date.now()).toLocaleString() %></p>
            <label>Customer ID : </label></br>
            <p> <%=order[0].customer_id%></p>
            <label>Tax ID : </label></br>
            <p> <%=order[0].tax_id%></p>
            <label>Item ID : </label>
            <% for(var i = 0; i < order.length; i++){%>
            <p> <%=order[i].item_id%></p>
            <%}%>
        </div>
        <input type="submit" value="Back to Cart" />
    </form>
    <center><a href="/menu">Back to Menu</a></center>
    <center><a href="/cart">Back to Cart</a></center>
</body>
</html>

