<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/order1.css"/>
    <title>Order Details</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');
        .Order {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 85%; /* กำหนดความกว้างของกรอบเป็น 80% */
            min-width: 400px; /* กำหนดความกว้างขั้นต่ำเพื่อป้องกันการหดหรือทับกัน */
        }

        .Order p {
            margin: 0;
        }
        
        .textD p {
            display: inline-block;
            margin: 5px 10px;
        }

        .buttons a {
            font-size: 14px;
        }

        a {
            display: inline-block;
            margin: 10px;
            color: #2c3e50;
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            border-bottom: 2px solid transparent;
            transition: border-bottom-color 0.2s;
        }

        a:hover {
            border-bottom-color: #fed330;
        }

        .link-center {
            text-align: center;
            margin-top: 20px;
        }

        .link-center a {
            display: inline-block;
            margin: 10px;
            color: #fed330;
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            border-bottom: 2px solid transparent;
            transition: border-bottom-color 0.2s;
        }

        .link-center a:hover {
            border-bottom-color: #fed330;
        }
    </style>
</head>
<body>
    <br><br>
    <h1>Order Details</h1>
    <center>
        <% for(let i = 0; i < Order[0].length; i++) { %>
            <div class="Order" >
                <div class="textD">
                    <p></p>
                    <p class="item-id">Customer ID: <%= Order[0][i].customer_id %></p>
                    <p class="item-id">Customer Name: <%= Customer[i].username %></p>
                    <p class="item-id">Item ID: <%= Order[0][i].item_id %></p>
                    <p class="item-name">Item Name: <%= Item[i].itemname %></p>
                    <p class="quantity">Quantity: <%= Order[0][i].qty %></p>
                    <p class="total">Total: <span class="total-amount"><%= Item[i].price * Order[0][i].qty%></span></p>
                </div>
                <div class="buttons">
                    <a href="/deleteorder/<%= Order[0][i].order_id %>" class="btn btn-warning mx-2">Accept</a>
                </div>
            </div>
        <% } %>
    </center>
   <center><a href="/menu1">Back to Menu</a></center>

</body>
</html>
